.container {
  width: 98vw;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  margin-top: 10%;
  gap: 10px;
}
.container form {
  width: 70%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

form > input {
  height: 30px;
}

form > button {
  background-color: red;
  color: white;
}

.output {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.output * {
  flex: 0 0 auto;
}

.copyButton {
  background-color: aqua;
  
}